<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			<article class="row">
				<div class="post col-md-6 col-sm-6 text-left animated fadeInDown visible" data-animation="fadeInDown" data-delay="500">
					<h6>최고의 학생개발자와 디자이너를 모으기</h6>
					<p class="post-body">GDG SSU는 이미 숭실대학교 최고의 개발자가 다수 활동하는 그룹입니다. 또 개발자들과 함께 협업을 진행하는 디자이너 역시 좋은 활동을 이어나가고 있습니다. 하지만 여기에서 만족하지 않고 GDG SSU는 자신만의 분야를 가지고 열정있는 개발을 진행하는 개발자와, 자신의 색깔을 나타낼 줄 아는 디자이너를 이곳에 모두 모으고자 합니다. 또 그러한 사람들이 갖는 고민이나 문제를 함께 해결하며 성장하는 대학교 시절동안의 가장 특별한 멤버쉽을 만들고자 합니다.</p>
				</div>
				<div class="post col-md-6 col-sm-6 text-left animated fadeInDown visible" data-animation="fadeInDown" data-delay="500">
					<h6>Google의 기술과 디자인을 다루고 전파하기</h6>
					<p class="post-body">GDG SSU는 Google Developer Group SSU의 준말입니다. 이름처럼 우리는 Google의 기술인 Android, Web(Chrome), Google Cloud Platform, Golang 등 다양한 Google의 기술을 다뤄보고 그 사례를 공유합니다. 최근에는 Google로부터 등장하는 디자인언어가 산업전반에 대두되고 있기때문에, 디자이너에게도 Google 디자인을 접해보는 것이 의미가 있습니다. 그리고 Google은 이러한 열정있는 학생들의 활동을 금전적인 차원에서 혹은 지식적인 측면에서 지원하고 있습니다. </p>
				</div>
				<div class="post col-md-6 col-sm-6 text-left animated fadeInDown visible" data-animation="fadeInDown" data-delay="500">
					<h6>동료와 함께 배우기, 그리고 그 기회를 널리 퍼뜨리기</h6>
					<p class="post-body">GDG SSU에는 이미 좋은 실력과 경험을 갖고있는 학생들이 많지만 학생은 학생일 뿐, 현업의 선배들에 비하면 아직 부족한 점이 많습니다. 그리고 같은 학생끼리도 분야가 다르고 경험의 영역이 다르다면 언제나 생소한 것 투성입니다. 우리는 그러한 아쉬움을 해결하기 위해 우리와 같은 고민이나 어려움을 겪고있는 사람들을 모으고, 그러한 문제를 해결해 본 업계의 선배나 또래 개발자들을 초청하여 Developer Event를 주최합니다. 이 Developer Event는 대형 컨퍼런스 혹은 작은 규모의 세미나, 짧은시간 동안 결과물을 만들면서 빠르게 익히는 해커톤과 같은 이벤트가 포함됩니다.</p>
				</div>
				<div class="post col-md-6 col-sm-6 text-left animated fadeInDown visible" data-animation="fadeInDown" data-delay="500">
					<h6>무엇보다 중요한 것은 학창시절 20대의 추억</h6>
					<p class="post-body">이 분야에서 나이 혹은 학년치고 굉장히 뛰어난 점이 많은 사람들이어도 우리는 우리의 젊은시절을 즐길 줄 알고 즐기고 싶어하는 대학생들입니다. 조금은 다른 학생들보다 진취적이고 또 넘쳐나는 열정 탓에 독특해 보일지도 모르지만 우리 역시 다른 대학생들처럼 MT혹은 멤버들끼리의 LOL, Steam 패키지와같은 게임을 하기도하고, 축제에서 칵테일 주점을 진행하기도 합니다. 어차피 사람이 모이는 것에 가장 중요한 요소는 재미와 함께하는 사람입니다. 자신의 성장도 성장이지만 특한 열정맨들끼리의 추억과 우정 역시 쌓는 것을 중요하게 생각합니다.</p>
				</div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->